@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.bg-dots {
    background-image: url("/images/bg-dots.svg");

    @apply bg-right-bottom bg-no-repeat;
}

.bg-type-1-dots {
    background: url("/images/bg-dots.svg"), linear-gradient(135deg, #6c03ab 0%, #fe6f9a 69.09%, #f0a2e8 100%);
    background-position: center, bottom;
    background-repeat: no-repeat, no-repeat;
}

.bg-type-2-dots {
    background: url("/images/bg-dots.svg"), linear-gradient(135.23deg, #1233c1 -4.07%, #38fffe 78.99%, #a1ffdd 100%);
}

.bg-type-3-dots {
    background: url("/images/bg-dots.svg"), linear-gradient(135.03deg, #fe72d4 -4.61%, #ff77ff 20.8%, #73cbff 86.29%, #00eff8 130.7%);
}

.bg-type-1 {
    background: linear-gradient(135deg, #6c03ab 0%, #fe6f9a 69.09%, #f0a2e8 100%);
}

.bg-type-2 {
    background: linear-gradient(135.23deg, #1233c1 -4.07%, #38fffe 78.99%, #a1ffdd 100%);
}

.bg-type-3 {
    background: linear-gradient(135.03deg, #fe72d4 -4.61%, #ff77ff 20.8%, #73cbff 86.29%, #00eff8 130.7%);
}

.text-decoration p::first-letter {
    @apply bg-sinsipurple;
}

input:focus,
select:focus {
    outline: none;
}

p {
    @apply mb-3;
}

.slider-track {
    top: 8px;
    height: 8px;
    background-color: thistle;
}

.slider-track-1 {
    top: 8px;
    height: 8px;
    background-color: rgb(252, 0, 252);
}

.slider-thumb {
    @apply border;

    @apply border-white;

    @apply py-3;

    @apply relative;

    top: -9px;
}

.typewriter div {
    overflow: hidden;
    border-right: 0.15em solid #e204e6;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #e204e6;
    }
}

.submit-outline {
    @apply border-gray-800;

    @apply transition duration-700;
}

.submit-outline-active {
    @apply border-gray-600;

    @apply transition duration-700;
}
