@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.bg-dots {
    background-image: url("/images/bg-dots.svg");

    @apply bg-right-bottom;

    @apply bg-no-repeat;
}

.bg-type-1 {
    background: linear-gradient(135deg, #6C03AB 0%, #FE6F9A 69.09%, #F0A2E8 100%);
}

.bg-type-2 {
    background: linear-gradient(135.23deg, #1233C1 -4.07%, #38FFFE 78.99%, #A1FFDD 100%);
}

.bg-type-3 {
    background: linear-gradient(135.03deg, #FE72D4 -4.61%, #FF77FF 20.8%, #73CBFF 86.29%, #00EFF8 130.7%);
}

.text-decoration p::first-letter {
    @apply bg-sinsipurple;
}

input:focus {
    outline: none;
}

p {
    @apply mb-3;
}

.slider-track {
    top: 8px;
    height: 8px;
    background-color: thistle;
}

.slider-track-1 {
    top: 8px;
    height: 8px;
    background-color: rgb(252, 0, 252);
}

.slider-thumb {
    @apply border;

    @apply border-white;

    @apply py-3;

    @apply relative;

    top: -9px;
}
