@tailwind base;

@tailwind components;

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

.bg-dots {
    background-image: url("/images/bg-dots.svg");

    @apply bg-right-bottom;

    @apply bg-no-repeat;
}

.text-decoration p::first-letter {
    @apply bg-sinsipurple;
}

input:focus {
    outline: none;
}

p {
    @apply mb-3;
}

.slider-track {
    top: 8px;
    height: 8px;
    background-color: thistle;
}

.slider-track-1 {
    top: 8px;
    height: 8px;
    background-color: rgb(252, 0, 252);
}

.slider-thumb {
    @apply border;

    @apply border-white;

    @apply py-3;

    @apply relative;

    top: -9px;
}
